!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
	%head
		%title Programmers in Padua
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%link{:rel => "stylesheet", :href => "stylesheets/screen.css", :type => "text/css", :media => "all"}
		%script{:type => "text/javascript", :src => "js/head.min.js"}
		:javascript
			head.js("http://use.typekit.com/bna6ihv.js", function() {
				try{Typekit.load();}catch(e){}
			});
			head.js("js/initialize.js", "http://maps.google.com/maps/api/js?sensor=true&callback=initialize");
			head.js("http://platform.twitter.com/widgets.js");
			head.js("http://platform.twitter.com/anywhere.js?id=73J1npUZhFT4GRFXoFpGHQ&v=1", function() {
				twttr.anywhere(function (T) {
					T("#prossimi ul li span.author").hovercards();
				});
			});
			head.js("https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "js/pip.js");
	%body
		%a.ribbon{:href =>"https://github.com/MisterJack/programmersinpadua.it"}
			%img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://assets1.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=", :alt => "Fork me on GitHub"}
		#top-bar
		#main
			#chi-siamo
				.left
					#logo
						.image.front.face.active
						.text.back.face
							%p #pip11
					#tools
						.twitter
							%a.twitter-share-button{:href => "http://twitter.com/share", :"data-url" => "http://www.programmersinpadua.it", :"data-text" => "Programmers In Padua #pip11", :"data-count" => "horizontal"}
								Tweet
						.facebook
							%iframe{:src => "http://www.facebook.com/plugins/like.php?href=programmersinpadua.it&amp;layout=button_count&amp;show_faces=false&amp;width=167&amp;action=like&amp;colorscheme=light&amp;height=21", :scrolling => "no", :frameborder => "0", :allowTransparency => "true"}
				.right
					%h1
						Chi siamo e cosa facciamo
					%p
						Vogliamo creare un club di persone che per lavoro e passione si occupano di programmazione, nuove tecnologie e startup.
					%p
						Ci incontriamo una volta al mese in un ambiente aperto e informale, dove sono i partecipanti a proporsi per i talk. Dopo l'evento, birra e pizza tutti assieme.
					%p
						Per restare aggiornato entra nel gruppo Facebook "
						%a{:href => "http://www.facebook.com/home.php?sk=group_192130790797621&ap=1"} Programmers in Padua
						" e segui il
						%a{:href => "http://www.fruktarbo.com/blog/programmers-in-padua/"} blog
			#prossimi
				%h1 Venerd&igrave; 27 Maggio
				%h1 &ldquo;Once upon a time&hellip; in my mind&rdquo;, ovvero come nasce e cresce una startup
				%p 
					Per il prossimo #pip11 abbiamo organizzato con l&#39;aiuto di Laura (M31) una serata a tema &ldquo;Startup&rdquo;. Grazie agli interventi degli imprenditori che abbiamo invitato faremo un po&#39; di luce su come nasce e cresce una startup, e invogliare tutti voi a creare la vostra :)
				%p 
					Mi raccomando, segnatevi sull&#39;
					%a{:href => "http://www.facebook.com/event.php?eid=147954778609973"} evento facebook
					e fatelo sapere a tutti i vostri amici e colleghi.
				%h2 Disclaimer!
				%p 
					Non si tratter&agrave; di una serata 
					%i pubblicitaria 
					sui prodotti/servizi delle startup invitate! I talk parleranno invece dell&#39;esperienza di Startup e degli Startuppers, valorizzando la parte pi&ugrave; importante del #pip11: il pubblico!	
				%h1 Programma
				%ul
					%li 
						%h2 h: 18:30 &rightarrow; Startup-peritivo al caff&egrave; Ti Amo
								
					%li
						%h2 h: ~21 &rightarrow; Pizza &amp; networking in centro a Padova
				%ul.talk
					%li 
						%h1 Startups &amp; Startuppers
					%li 
						%a{:href=>"http://www.frestyl.com", :title=>"frēstyl"}
							%img{:src=>"images/startup/frestyl.png", :alt=>"frēstyl"}
						Joahnna Brewer e Arianna Bassoli, founders di 
						%a{:href=>"http://www.frestyl.com", :title=>"frēstyl"} frēstyl 
						%p 
							frēstyl &egrave; una lean-startup che viene da Roma. Fondata da due ragazze con un team davvero eccezionale, permette di scoprire nuove band e nuovi locali con musica live sotto casa vostra. Specie se siete&nbsp;
							%b> ragazze
							, non perdetevi il racconto di queste due giovani imprenditrici!
					
					%li
						%a{:href=>"http://www.uqido.com", :title=>"uqido"}
							%img{:src=>"images/startup/uqido.png", :alt=>"uqido"}
						Pier Mattia Avesani, CEO e 	cofounder di 
						%a{:href=>"http://www.uqido.com", :title=>"uqido"} uqido
						%p Nel 2009 Pier Mattia inventa e brevetta il sistema Simon, gestore di flussi d&#39;attesa negli uffici (pubblici e non). Nel 2010 partecipa alla fondazione di Uqido, attualmente in M31, che permette di gestire in modo innovativo code e tempi di attesa sfruttando al massimo gli smartphone e la rete.		
					%li
						%a{:href=>"http://thounds.com", :title=>"thounds"}
							%img{:src=>"images/startup/thounds.png", :alt=>"thounds"}
						Francesco Fraioli, founder di 
						%a{:href=>"http://thounds.com", :title=>"thounds"} thounds
						%p thounds &egrave; un favoloso esperimento di musica sociale, un social network dove gli status sono ispirazioni musicali. Nato nel 2009 dalla tesi di laurea di Francesco e incubato in H-farm, &egrave; guidato da un team molto motivato che per nostra fortuna ha trovato il tempo di accettare l&#39;invito del #pip11!
					
					%li
						%a{:href=>"http://playgowar.com", :title=>"GoWar"}
							%img{:src=>"images/startup/gowar.png", :alt=>"GoWar"}
						Francesco Mancusi, Nicola Brisotto, Enrico Zeffiro, cofounder CTO e adv di 
						%a{:href=>"http://playgowar.com", :title=>"thounds"} GoWar
						%p GoWar &egrave; una startup nata durante nel 2010 durante uno startupweekend, e da allora non vediamo l&#39;ora di provare la loro app. Si tratta di un RisiKo! geolocalizzato per dispositivi mobile, &egrave; attualmente incubata in H-farm ed &egrave; un bellissimo esempio di come possono nascere le startup.
				.partecipanti
					%ul.people
						%li
							%h1 Ecco chi è già dei nostri
					%a.partecipa{:href => "http://www.facebook.com/event.php?eid=147954778609973"} Partecipa anche tu!
				.materiale
					%h1 Materiale vecchie presentazioni
					%p
						Stai cercando il materiale degli incontri passati? Controlla
						%a{:href => "materiale.html"}qui
			#dove
				%h1
					Raggiungici presso il Caff&egrave; Ti Amo
				%p
					Ci troviamo presso il caff&egrave; Ti Amo:
					%br/
					Via Venezia, 9/a 
					%br/
					35137 Padova
				#map
					%p
						The map is loading

			#footer
				%p 
					Organizzato con il supporto del 
					%a{:href => "http://www.collegiomazza.it"} Collegio Mazza
					, che offre gli spazi per gli incontri e un rimborso spese per gli ospiti che invitiamo da fuori Padova.

				%p &copy; 2011 &ndash; Alcuni diritti riservati. Dexter è copyright di Cartoon Network LP, LLLP


				%p
					%a.avedesign{:href => "http://avedesign.me"}
					%a.fruktarbo{:href => "http://fruktarbo.com"}
					%span.dexter
		%script{:type => "text/javascript"}
		:javascript
			var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-20759502-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();